<form>
    <div>
        <input type="text" placeholder="Nome">
    </div>
    <div>
        <input type="text" placeholder="Email">
    </div>
    <div>
        <input type="text" placeholder="Telefone">
    </div>
    <div>
        <select>
            <option value="">Selecione uma áera</option>
            <option value="administrativo">Administrativo</option>
            <option value="rh">Recursos Humanos</option>
            <option value="comercial">Comercial</option>
        </select>
    </div>
    <div>
        <textarea placeholder="mensagem"></textarea>
    </div>
    <button type="submit">Enviar Mensagem</button>
</form>