:root {
    --font-primary: "inter", sans-serif;
    --color-black: #000;
    --color-white: #FFF;
    --color-blue: #6296FF;
    --color-blue-two: #BDD4FF;
    --color-red: #FF570F;
    --color-red-two: #FF9D73;
}